*{
	box-sizing: border-box;
}
h1{
	margin: 10px;
	color: black;
	font-family: sans-serif;
	text-align: center;
}
p{
	text-align: left;
	margin: 10px;
}
p.corner-tag{
	width: 20%;
	text-align: center;
	margin: 0px;
	left: 80%;
	position: relative;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
#chicken{
	background: pink;
}
#beef{
	background: red;
}
#sushi{
	background: yellow;
}
div.class1, div.class2{
	float: left;
	padding: 10px;
}
div.normal{
	background: #D3D3D3;
	height: 100%;
	border: 1px solid black;
}
	
@media (min-width: 992px){
	div.class1, div.class2{
		width: 33.33%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	div.class1{
		width: 50%;
	}
	div.class2{
		width: 100%;
	}
}
@media (min-width: 0px) and (max-width: 767px) {
	div.class1, div.class2{
		width: 100%;
	}
}